html {
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.headroom--unpinned {
    top: 0px;
}
.distill-site-nav {
  background-color: #455a64;
  font-size: 15px;
  font-weight: 400;
}
.distill-site-header .title {
    font-size: 19px;
    padding: 14.5px 15px 14.5px 14.5px;
}

.distill-site-nav a{
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  padding: 14.5px 15px 14.5px 15px;
}

.distill-site-nav a:hover,
.distill-site-nav a:focus{
  background-color: #698896;
  color: #ffffff;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}